<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wangfan.mapper.EmpMapper">

	<insert id="doCreate" parameterType="Emp">
		INSERT INTO
		emp(empno,ename,job,hiredate,sal,comm)
		VALUES(#{empno},#{ename},#{job},#{hiredate},#{sal},#{comm})
	</insert>

	<update id="doUpdate" parameterType="Emp">
		UPDATE emp SET
		ename =
		#{ename},
		job = #{job},
		hiredate
		= #{hiredate},
		sal=#{sal},
		comm=#{comm}
		WHERE empno = #{empno}
	</update>

	<delete id="doRemoveBatch" parameterType="collection">
		DELETE FROM emp
		<where>
			<if test="collection!=null and collection.size>0">
				<foreach collection="collection" open=" and empno in ("
					close=")" item="empno" separator=",">
					#{empno}
				</foreach>
			</if>
		</where>
	</delete>

	<select id="findById" parameterType="Integer" resultType="Emp">
		SELECT empno,ename,job,hiredate,sal,comm FROM emp WHERE empno=#{empno}
	</select>

    <select id="findAll" resultType="Emp">
       SELECT empno,ename,job,hiredate,sal,comm FROM emp
    </select>
    
    
</mapper>